<h1> Update definitions here </h1>

              <form action="/words" method="post">
              <input type="text"
                class="form-control" name="newdefinition" id="newdefinitio" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Type your new definition above.</small>
              <br>
              </div>
                        <button type="submit" class="btn btn-primary btn-md btn-block">Add a word</button>
          </form>