<!DOCTYPE html>
<html>
  <head>
    <title>MyDictionary</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet"> 
         <link href="<%= url("/styles.css") %>" rel="stylesheet" type="text/css" />
 </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>