  
  <div class ='jumbotron'>
    <h1 class="text-align-center">My Dictionary</h1>
    </div>
        <div class ="row">
            <h4>Add a word!</h4>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="">Your New Word</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Type your new word above.</small>
            </div>
          <button type="button" name="Add Word" id="addword" class="btn btn-primary btn-md btn-block">Add a word</button>
          </div>
          <div class="row">
          <hr>
          <h4>Your words:</h4>
          <hr>
            <h4>Your words + their definitions:</h4>
        </div>      
</div>
</div>